.App{
  min-height: 100vh;
}

.search-form{
  min-height: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button{
  background: rgb(99, 131, 11);
  border: none;
  padding: 10px 20px;
  color: white;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
}

ol {
  list-style-type: none;
}

.search-button{
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 7vh;
  background: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
  color: white;
}

.nav-links {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.spinner{
  position: relative;
  top: 4vh;
}