.recipe{
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(66, 63, 63);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    min-width: 40%;
    min-height: 40%;
    flex-grow: 0;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    width: 30vw;
    height: 30vw;
}

.category{
    background-color: #EEF; /* Set the background color */
    border-radius: 100px;     /* Add some roundness */
    border: 1px #CCF solid; /* Add a border */
    padding: 2px 5px;
    display: inline;
}

.ingredient{
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    margin: 20px;
    justify-content: space-around;
    background: white;
    align-items: center;
    min-width: 40%;
    border-radius: 10px;
    /* border: 5px solid rgb(188, 194, 188); */
}